<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button class="search_button"><i class="fa fa-bars"></i> Sections</button>
			</li>
			<li id="search-modal-btn">
				<button class="search_button"><i class="fa fa-search"></i> Search</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li><button class="button">Subscribe Now</button></li>
			<li><button class="button">Log In</button></li>
			<li><button class="search_button gear_button" id="gear-dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i></button><%= render partial: 'shared/gear_dropdown' %></li>
		</ul>
	</nav>
</header>
